# Build folders (colcon)
build/
install/
log/

# Python
__pycache__/
*.py[cod]

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDEs
.vscode/
.idea/
.project
.cproject
.settings/
cmake-build-*/

# OS
.DS_Store
Thumbs.db